.registerDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 5rem auto;
  width: 20rem;
  height: 20rem;
  border-radius: 10px;
}

.inputDisplayName {
  margin-top: 1rem;
}

.registerDiv button{
  margin: 0 auto;
}

.registerDiv label{
  margin-left: 0.5rem;
}

span {
  margin-bottom: 1rem;
}